
.wrapper {
  display: flex;
  justify-content: center;
}

input[type=text] {
  height: 30px;
  width: 30%;
  font-size: 22px;
  padding: 5px;
  margin-top: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;  
}