
.wrapper {
  position: relative; 
  margin: 0 auto;
  width: 50%;
}

input[type=text] {
  height: 30px;
  width: 100%;
  font-size: 22px;
  padding: 5px;
  margin-top: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;    
}

.input_img {
  position:absolute;
  top:23px;
  right:-7px;
  width:36px;
  height:36px;
}

#search_results {
  list-style-type: none;
  padding-left: 5px;
  margin-top: 4px;
  width: 95%;
}

#search_results > li {
  height: 30px;
  border: 1px solid #eeeeef;
  line-height: 30px;
  padding-left: 5px;
}

@media only screen and (max-width: 900px) {
  .wrapper {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    width: 90%;
  }
}